---
layout: default
---
<body style="background-image: url('https://yaepiii.github.io/M2UD/assets/background.png'); background-size: cover; background-position: center;	background-repeat: no-repeat;	background-attachment: fixed">
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JH6XYWZBVX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-JH6XYWZBVX');
    </script>
</body>
